@model IEnumerable<Practica2ISO810.Models.Empleado>

@{}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Generate New File", "GenerarArchivo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeNacimiento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDEmpleado)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDEmpleado }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDEmpleado }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDEmpleado })
            </td>
        </tr>
    }

</table>
